/* resoluçôes
principais breakpoints
320px - 480px: dispositivos moveis
481px - 768px: tablets e ipads
769px - 1024px: leptops
1025px - 1200px desktops e telas grandes (wildecreen)
1201px e a cima: TVs
*/

@media screen and (max-width:1200px) {
    body,
    html {
        
        overflow-x: hidden
    }
.cabecalho{
   padding: 0.5em 3em;
}
.principalC{
    padding: 0 3em;
    
}
.principal{
   
    width: 90%;
}
.imagem{
    width: 500px;
    padding-left: 75px;
}
.footer{
    padding:  3em;
}
.footer h2{
    padding-top: 30px;
}

    
}

@media screen and (max-width:1024px) {
   
    .escritas h1{
        font-size: 48px;
        padding-bottom: 30px;
    }

    .escritas p{
        font-size: 27px;
        
    }
    .imagem{
       max-width: 400px;
       min-width: 400px;
       /* padding-right: 1px; */
       
    }
    .principal{
        width: 100%;
        padding: 0 0;
    }
    .principalC{
        /* padding: 0 0.5em; */
        /* margin-top: 1px; */
    }
    .footer{
        padding: 0 0;
    }
    .footer h2{
        padding: 4px 0;
    }
}

@media screen and (max-width:768px) {
    .principal{
        flex-wrap: wrap;
    }
    .escritas h1{
        font-size: 40px;
    }
    .escritas p{
        font-size: 25px;
    }
    .imagem{
        height: 400px;
    }
}

@media screen and (max-width:480px) {
    
}

@media screen and (max-width:320px) {
    .cabecalho{
        height: 140px;
    }
    .principalC{
        padding: 15px 11px;
    }
    .escritas h1{
        padding: 0 25px;
        font-size: 35px;
    }
    .escritas p{
        font-size: 20px;
        padding: 0 20px;
    }
    .imagem{
        height: 270px;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .footer h2{
        font-size: 25px;
        padding: 10px 0;
    }
    .footer{
        margin-top: 20px;
    }
}